<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,24}}</string>
                <key>sourceSize</key>
                <string>{400,24}</string>
            </dict>
            <key>chronobig</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>chronosmall</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>elephant</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>mouse</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>rabbit</key>
            <dict>
                <key>frame</key>
                <string>{{137,68},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>scissorsl</key>
            <dict>
                <key>frame</key>
                <string>{{185,68},{60,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>scissorsr</key>
            <dict>
                <key>frame</key>
                <string>{{247,68},{60,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>turtle</key>
            <dict>
                <key>frame</key>
                <string>{{309,68},{41,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,65}}</string>
                <key>sourceSize</key>
                <string>{41,65}</string>
            </dict>
            <key>vanzemljak</key>
            <dict>
                <key>frame</key>
                <string>{{352,68},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>vanzemljak2</key>
            <dict>
                <key>frame</key>
                <string>{{402,68},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>volumehigh</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{81,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,54}}</string>
                <key>sourceSize</key>
                <string>{81,54}</string>
            </dict>
            <key>volumelow</key>
            <dict>
                <key>frame</key>
                <string>{{85,146},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>whitebar</key>
            <dict>
                <key>frame</key>
                <string>{{145,146},{1,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,12}}</string>
                <key>sourceSize</key>
                <string>{1,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>appsprites.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffee4da80e00c8c1c9255beec7d40815:9c33b2959b88965dd37b24099b65a6dc:0c1c1bbe3b963ab880a62898557fb471$</string>
            <key>textureFileName</key>
            <string>appsprites.png</string>
        </dict>
    </dict>
</plist>
